<h1>New Link</h1>

<form action="/links" method="post">
  <label for="title"> <b>
    Title: <b>
    <input type="text" name="title">
  </label> <b>
  <label for="url">
    URL: <b>
    <input type="text" name="url">
  </label> <b>
  <label for="tags">
    Tags: <b>
    <input type="text" name="tags">
  </label> <b>
  <input type="submit" value="Create link">
</form>
